body {
  background-image: url(assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.clock-container {
  backdrop-filter: blur(10px);
  border-radius: 10px;
  width: 100vw;
  padding: 10px 0;
}

.clock {
  font-size: 4rem;
  color: white;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px grey;
}
