.counter-container {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.counter-text {
  font-size: 5em;
  margin-bottom: 50px;
  margin-top: 0;
  font-weight: bold;
}

.counter-button {
  background-color: hsl(245, 98%, 36%);
  color: white;
  font-weight: bold;
  margin: 0 5px;
  border: none;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  font-size: 1.5em;
  cursor: pointer;
}

.counter-button:hover {
  background-color: hsl(245, 98%, 26%);
}
