.category-list {
  color: hsl(208, 94%, 18%);
  background-color: rgb(230, 185, 6);
  border-radius: 5px;
  font-size: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10px;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.items-list li {
  font-family: Arial, Helveticsa, sans-serif;
  list-style: none;
  text-align: center;
  font-size: 2em;
  color: hsl(208, 96%, 21%);
}

.items-list li:hover {
  color: hsl(208, 98%, 38%);
  cursor: pointer;
}
