.welcome-message {
  color: white;
  background-color: hsl(100, 93%, 28%);
  /* max-width: 300px; */
  padding: 20px 20px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
}
.login-prompt {
  color: white;
  background-color: hsl(5, 94%, 49%);
  /* max-width: 300px; */
  padding: 20px 20px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
}
