body {
  background-color: hsl(0, 0%, 16%);
}

h2 {
  font-size: 4rem;
  text-align: center;
  color: white;
}

button {
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.to-do-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.delete-button {
  background-color: hsl(0, 100%, 46%);
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  color: white;
  margin-left: 5px;
}

.add-button {
  font-size: 1.4rem;
  background-color: hsl(129, 100%, 42%);
  padding: 13px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  color: white;
}

.move-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: hsl(201, 100%, 39%);
  margin-left: 7px;
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 52%);
  border-radius: 5px;
}

.add-button:hover {
  background-color: hsl(129, 99%, 29%);
}

.delete-button:hover {
  background-color: hsl(0, 100%, 36%);
}

.move-button:hover {
  background-color: hsl(201, 100%, 29%);
}
ol {
  padding: 0;
}
li {
  background-color: hsl(0, 0%, 96%);
  margin-bottom: 10px;
  padding: 15px;
  border: 3px solid hsl(0, 0%, 65%);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.text {
  flex: 1;
}

.delete-button,
.move-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}
