body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 74%);
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.stopWatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border: 3px solid black;
  border-radius: 50px;
  background-color: hsl(0, 0%, 91%);
}

.display {
  font-family: monospace;
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgb(68, 68, 68);
}

.controls button {
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px 30px;
  margin: 0 10px;
  color: white;
  transition: background-color ease 0.5s;
  border: none;
  border-radius: 10px;
}

.start-button {
  background-color: hsl(120, 72%, 40%);
}

.start-button:hover {
  background-color: hsl(120, 72%, 30%);
}

.stop-button {
  background-color: hsl(0, 72%, 40%);
}

.stop-button:hover {
  background-color: hsl(0, 72%, 30%);
}

.reset-button {
  background-color: hsl(200, 72%, 40%);
}

.reset-button:hover {
  background-color: hsl(200, 72%, 30%);
}
